.guess-container {
  width: 70vw;
  margin: 0 auto;

  display: flex;
  justify-content: space-around;
}

[class^=dot-] {
  width: 50px;
  height: 100px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
}

[class^=dot-]::after {
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;

  border-radius: 50%;

  top: calc(50% - 20px);
  left: calc(50% - 20px);
}

.dot-0::after { background-color: #ccc; }
.dot-1::after { background-color: red; }
.dot-2::after { background-color: darkorange; }
.dot-3::after { background-color: gold; }
.dot-4::after { background-color: blue; }
.dot-5::after { background-color: cyan; }
